.cssload-loader-inner {
    bottom: 0;
    height: 49px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 82px;
}

.cssload-cssload-loader-line-wrap-wrap {
    animation: cssload-spin 1700ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    -o-animation: cssload-spin 1700ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    -ms-animation: cssload-spin 1700ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    -webkit-animation: cssload-spin 1700ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    -moz-animation: cssload-spin 1700ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 41px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    width: 82px;
}
.cssload-loader-line-wrap {
    border: 3px solid transparent;
    border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 82px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 82px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(1) { animation-delay: -42.5ms;
    -o-animation-delay: -42.5ms;
    -ms-animation-delay: -42.5ms;
    -webkit-animation-delay: -42.5ms;
    -moz-animation-delay: -42.5ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) { animation-delay: -85ms;
    -o-animation-delay: -85ms;
    -ms-animation-delay: -85ms;
    -webkit-animation-delay: -85ms;
    -moz-animation-delay: -85ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) { animation-delay: -127.5ms;
    -o-animation-delay: -127.5ms;
    -ms-animation-delay: -127.5ms;
    -webkit-animation-delay: -127.5ms;
    -moz-animation-delay: -127.5ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) { animation-delay: -170ms;
    -o-animation-delay: -170ms;
    -ms-animation-delay: -170ms;
    -webkit-animation-delay: -170ms;
    -moz-animation-delay: -170ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) { animation-delay: -212.5ms;
    -o-animation-delay: -212.5ms;
    -ms-animation-delay: -212.5ms;
    -webkit-animation-delay: -212.5ms;
    -moz-animation-delay: -212.5ms; }

.cssload-cssload-loader-line-wrap-wrap:nth-child(1) .cssload-loader-line-wrap {
    border-color: rgb(114,235,108);
    height: 74px;
    width: 74px;
    top: 6px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) .cssload-loader-line-wrap {
    border-color: rgb(146,204,126);
    height: 63px;
    width: 63px;
    top: 12px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) .cssload-loader-line-wrap {
    border-color: rgb(119,150,102);
    height: 51px;
    width: 51px;
    top: 17px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) .cssload-loader-line-wrap {
    border-color: rgb(59,107,47);
    height: 40px;
    width: 40px;
    top: 23px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) .cssload-loader-line-wrap {
    border-color: rgb(20,61,17);
    height: 28px;
    width: 28px;
    top: 29px;
}




@keyframes cssload-spin {
    0%, 15% {
    transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-spin {
    0%, 15% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spin {
    0%, 15% {
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
    0%, 15% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spin {
    0%, 15% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.loading-box
{
  background-color: #000;
  opacity: 0.85;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  top:0;
  left:0;
}



.post-direct-content p
{
  white-space: pre-line;
    margin-top: 10px;
}

.carousel-indicators,
.carousel-caption
{
  display:none; 
}

.post-item
{
	margin-bottom: 50px;
}

.post-item .carousel {
    width: 200px;
    margin-top: -15px;
    margin-left: -15px;
    margin-bottom: -15px;
}

.post-item .reply .carousel {
    width: 148px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}


.post-item .panel-body
{
    background-color: rgba(255, 255, 255, 0.41);
}


.panel.panel-default ul.comments li {
    border-bottom: none; 
    background-color: rgba(255, 255, 255, 0.41);
    padding:0;
}

.panel.panel-default ul.comments {
	border-top: none;
	margin-left: 50px;
}

.comment-form .reply
{
	padding: 0px;
    margin-left: 25px;
}

body {
    background-image: url(images/bg.jpg);
}

.post-item .panel {
	background-color: rgba(255, 255, 255, 0);;
}

.panel,
.panel-default {
    border: none;
}

.form-control-default {
	background-color: rgba(255, 255, 255, 0.28);
	border-style:none;
}

.view-all-comments,
.timeline-block .panel-heading ,
.panel-default > .panel-heading 
{
	background: rgb(123, 165, 128);
}

.view-all-comments
{
	color:#576F52;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    background-color: rgba(95, 128, 99, 0.46);
}

.media-left, .media > .pull-left {
    padding-right: 0px;
}

.media-body
{
	padding-left: 10px;
}


.panel.panel-default ul.comments li.reply
{
	border-bottom: 2px solid rgba(116, 148, 106, 0.51);
    margin-top: 3px;
}


.btn-primary
{
	background-color: #7BA580;
    border-color: #7BA580;
}

::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}


.post-page li.reply
{
        margin-top: 5px;
}

.post-page .panel.panel-default ul.comments
{
        margin-left: 15px;
}

.replies .media-body .info
{
    float: right;
    position: relative;
    /* top: -10px; */
    /* bottom: 50px; */
    z-index: 10;
}

.replies .media-body .info .text-title
{
    font-size: 1.00rem;
    font-weight: 800;
    cursor:pointer;
    color: white;
    background-color: #7BA580;
    padding: 6px;
}


.replies .media-body .info .quotes
{
    float: left;
    margin-right: 10px;
    margin-top: -6px;
}

.replies .media-body .info .quotes .quote
{
    padding: 3px;
    margin-right: 5px;
    background-color: rgb(123, 165, 128);
    color: white;
    font-size: 0.9rem;
}

.replies .media-body .info .quotes .quote .fa
{
    padding-right: 5px;
}

.post-content-quote
{
    color: #884C13;
    font-weight: 600;
}

.post-content-tag
{
    color: #5026A2;
    font-weight: 600;
    cursor:pointer;
}



.alert.top-right
{
    width: 75%;
    position: fixed;
    z-index: 15;
    margin-left: auto;
    margin-right: auto;
    left: 85px;
}

.load-more-button
{
    width: 98%;
    margin-left: 12px;
}

.page-utils
{
    margin-bottom:15px;
}

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 3;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 3;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.board-title
{
    font-size: 7.0rem;
    font-weight: 600;
    text-align: left;
    margin-right: 30px;
    margin-left: 10px;
    opacity: 0.7;
    color: #FFFAFF;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    /* margin-bottom: -130px; */

}


.modal-backdrop 
{
    opacity: 0.5;
    z-index: 11;
}

.modal
{
    z-index: 12;
    top: 130px;
}

.report-button
{
    color: white;
    float: right;
    cursor: pointer;
    opacity: 0.7;
}

.info .report-button
{
    float: none;
    display: block;
    text-align: right;
    padding-top: 10px;
    padding-right: 5px;
    color: #FF0000;
    opacity: 0.25;
}

.link
{
    cursor:pointer;
}

.main-admin-btn
{
    margin-top:-5px;
}

.remove-button i
{
    color: #AF5B5B
}

.navbar-default .navbar-brand
{
    /* color: #5026A2 */
}

.show-sidebar.sidebar-r1 #content {
    margin-right: 0px;
  }


.panel-default > .panel-heading
{
    color: white;
}

.panel-default {
    background-color: rgba(255, 255, 255, 0.65);
}


.navbar-primary
{
    background-color: #4E7953;
    border-color: #28502D;
}

a
{
    color:#27402A;
}

.navbar-primary .navbar-brand {
    border-right-color: #28502D;
}

.navbar-primary .navbar-form .form-control {
    border-color: #28502D;
}

.navbar-nav .dropdown-menu > li.active > a, .navbar-nav .dropdown-menu > li a:hover {
    color: #28502D;
}

.navbar-primary .navbar-form .form-control,
.navbar-primary .navbar-toggle:hover, .navbar-primary .navbar-toggle:focus,
.navbar-primary .navbar-nav > li > a:focus, .navbar-primary .navbar-nav > li > a:hover,
.navbar-primary .navbar-nav .open > a, .navbar-primary .navbar-nav > .active > a, .navbar-primary .navbar-nav .open > a:focus, .navbar-primary .navbar-nav > .active > a:focus, .navbar-primary .navbar-nav .open > a:hover, .navbar-primary .navbar-nav > .active > a:hover
{
    background-color: #80AB85;
}

.navbar-primary .navbar-toggle .icon-bar
{
    background-color: white;
}

.navbar-primary .navbar-toggle,
.navbar-primary .toggle,
.navbar-primary .navbar-toggle:hover, .navbar-primary .navbar-toggle:focus
{
    background-color: #28502D;
}

.double-level-1
{
    background-color: rgba(127, 251, 159, 0.2) !important;
}

.double-level-2
{
    background-color: rgba(127, 233, 251, 0.23) !important;
}

.double-level-3 
{
    background-color: rgba(251, 127, 127, 0.27) !important;
}


.tuto-image img
{
    max-width: 550px;
}

.tuto-image p
{
    color: #7D7D7D;
    font-style: italic;
    font-size: 12px;
}

.view-all-comments a:hover 
{
    color: #E1E8E2;
}

.tag-type-1
{
    color: #981515 !important;
    font-weight: 600;
}

.post-comment
{
    color:#777777 !important;
}

.post-g-text
{
    color:#563292 !important;
}

.navbar-nav > li.notifications .dropdown-menu li.media a
{
    white-space: normal;
}