<div class="page-header">
<h1 class="text-headline page-section-heading title">{{title}}</h1>
<span ng-if="description != ''" class="description">// {{description}}</span>
</div>



<div ng-include="base_url + '/app/views/post/form.html'" ng-controller="PostFormController"></div>


<hr/>

<div class="item col-md-12 col-xs-12 text-right page-utils">
	<button type="submit" class="btn btn-primary" ng-click="Update(true)"><i class="fa fa-refresh"></i> Recarregar (mais rápido que F5)</button>	
</div>

<div ng-repeat="post in posts" class="item col-md-12 col-xs-12 post-item post-id-{{post.id}}" ng-controller="PostFormController" ng-init="setReply(post)">
	<div class="panel panel-default timeline-block">

	    <div class="panel-heading" id="post-{{post.id}}">
	          <div class="media">
	            <div class="media-body">

	              <a ng-href="#/post/{{post.id}}/" class="pull-right link text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>


	              <span ng-click="OpenPost(post, true)" class="text-title link"><i class="fa fa-fw fa-slack"></i> {{post.id}}</span>
	            </div>
	          </div>
        </div>

		<div class="panel-body double-level-{{post.double_level}}">

			<div class="media-left" ng-if="post.files.length" >
				
				<carousel interval="999915000" no-wrap="false" >
					<slide ng-repeat="file in post.files" active="slide.active">
						<a href="{{parameters.file_path +'/'+ file.path_original}}" target="_blank">

						<img ng-class="{'view-preview':!file.is_image}" ng-src="{{parameters.file_path +'/'+ file.path_preview}}" style="margin:auto;">

						<i ng-if="!file.is_image" class="video-icon fa fa-fw fa-play"></i>
						</a>
					</slide>
				</carousel>
			</div>
			

			<div class="media-body">
				<postcontent post="post"></postcontent>
			</div>   
		</div>


		<div class="view-all-comments">
			<a ng-repeat="tag in post.tags" href="#" class="tag-type-{{tag.type}}"> <i class="fa fa-slack"></i> {{tag.name}} </a>
			<span style="cursor: pointer" ng-click="OpenPost(post)" ng-if="post.total_replies">({{post.total_replies}} respostas)</span> 

			<span class="report-button" ng-if="user.level == 0" ng-click="Report(post)"><i class="fa fa-exclamation-circle"></i></span>

			<span class="report-button" ng-if="user.level > 0" ng-click="Ban(post)"><i class="fa fa-exclamation-circle"></i></span>

			<div style="clear:both"></div>
        </div>



		<ul class="comments replies">
			<li ng-repeat="reply in post.replies" class="comment-form reply double-level-{{reply.double_level}}" id="post-{{reply.id}}">
				<div class="media-left" ng-if="reply.files.length" >
				
					<carousel interval="999915000" no-wrap="false" >
					<slide ng-repeat="file in reply.files" active="slide.active">
							<a href="{{parameters.file_path +'/'+ file.path_original}}" target="_blank">

							<img ng-class="{'view-preview':!file.is_image}" ng-src="{{parameters.file_path +'/'+ file.path_preview}}" style="margin:auto;">

							<i ng-if="!file.is_image" class="video-icon fa fa-fw fa-play"></i>

							</a>
						</slide>
					</carousel>
				</div>
					

				<div class="media-body">

					<div class="info">

						<div class="quotes" ng-if="reply.quotes">
							<span class="quote" ng-repeat="quote in reply.quotes track by $index" quotepreview quote="quote" search-post="SearchPost(id)"><i class="fa fa-reply"></i>{{quote}}</span>
						</div>

						<span ng-click="addReply(reply)" class="text-title"><i class="fa fa-fw fa-slack"></i> {{reply.id}}</span>

						<span class="report-button" ng-if="user.level == 0" ng-click="Report(reply)"><i class="fa fa-exclamation-circle"></i></span>

						<span class="report-button" ng-if="user.level > 0" ng-click="Ban(reply)"><i class="fa fa-exclamation-circle"></i></span>
					</div>

					<postcontent post="reply" search-post="SearchPost(id)" on-back-quote="AddQuoteReply(from, to)"></postcontent>
				</div>   

			</li>

			<li class="comment-form reply-dae" class="panel-body" ng-if="user.name">
				<input style="display:none" id="file-select-input" class="image-input" type="file" file-upload multiple/>
                <div class="input-group">
                	<form ng-submit="Send()">
	                	<input type="text" ng-model="postForm.content" class="form-control" placeholder="Resposta rápida">
                	</form>
                	
                    <span class="input-group-btn" ng-click="ImageSelect('.post-id-' + post.id + ' .reply-dae .image-input')">
                   		<a href="" class="btn btn-default">{{ (files.length ? '('+files.length+')' : '') }}<i class="fa fa-photo"></i></a>
                	</span>
 
	            	<span class="input-group-btn" ng-click="Send()">
	               		<a href="" class="btn btn-primary"><i class="fa fa-check"></i></a>
	            	</span>
	            	
               </div>
            </li>
		</ul>

	</div>
</div>

<button class="btn btn-primary load-more-button" ng-click="LoadMore()"> <i class="fa fa-plus"></i> Carregar mais</button>