<h1 class="text-headline page-section-heading">{{board.title}}/{{board.shortcut_name}} - {{board.description}}</h1>



<div ng-include="base_url + '/app/views/post/form.html'" ng-controller="PostFormController" onload="onLoadPostForm(setReply, addReply)"></div>

<hr/>

<div class="item col-md-12 col-xs-12 text-right page-utils" style="display:none">
	<i class="text-muted">AutoUpdate em</i>
	<button type="submit" class="btn btn-primary" ng-click="Update(true)"><i class="fa fa-refresh"></i> Recarregar (mais rápido que F5)</button>	
</div>


<div class="item col-md-12 col-xs-12 post-item post-page post-id-{{post.id}}" >

	<div class="panel panel-default timeline-block">

	    <div class="panel-heading" id="post-{{post.id}}">
	          <div class="media">
	            <div class="media-body">
	              <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
	              	<span class="text-title"><i class="fa fa-fw fa-slack"></i> {{post.id}}</span>
	            </div>
	          </div>
	    </div>

		<div class="panel-body">
			<div class="media-left" ng-if="post.files.length" >
				
				<carousel interval="999915000" no-wrap="false" >
				<slide ng-repeat="file in post.files" active="slide.active">
						<a href="{{parameters.file_path +'/'+ file.image_path_original}}" target="_blank"><img ng-src="{{parameters.file_path +'/'+ file.image_path_preview}}" style="margin:auto;">
						</a>
					</slide>
				</carousel>

				
			</div>
			

			<div class="media-body">
				<postcontent post="post"></postcontent>
			</div>   
		</div>


		<div class="view-all-comments">
	      <a ng-repeat="tag in post.tags" href="#" > <i class="fa fa-slack"></i> {{tag.name}} </a>
	    </div>

		<ul class="comments replies">
			<li ng-repeat="reply in post.replies" ng-class="{blink:reply.isNew}" class="comment-form reply" id="post-{{reply.id}}">

				<div class="media-left" ng-if="reply.files.length" >

					<carousel interval="999915000" no-wrap="false" >
					<slide ng-repeat="file in reply.files" active="slide.active">
							<a href="{{parameters.file_path +'/'+ file.image_path_original}}" target="_blank"><img ng-src="{{parameters.file_path +'/'+ file.image_path_preview}}" style="margin:auto;">
							</a>
						</slide>
					</carousel>
				</div>
					

				<div class="media-body">
					
					<div class="info">

						<div class="quotes" ng-if="reply.quotes">
							<span class="quote" ng-repeat="quote in reply.quotes track by $index" quotepreview quote="quote" search-post="SearchPost(id)"><i class="fa fa-reply"></i>{{quote}}</span>
						</div>

						<span ng-click="addReply(reply)" class="text-title"><i class="fa fa-fw fa-slack"></i> {{reply.id}}</span>
						
					</div>


					<postcontent post="reply" on-back-quote="AddQuoteReply(from, to)" search-post="SearchPost(id)" quote-click="ScrollTo(id)"></postcontent>

				</div>   

				

			</li>

		</ul>

	</div>


</div>