<div class="page-header" ng-if="title != ''">
	<h1 class="text-headline page-section-heading title">{{title}}</h1>
</div>


<div class="item col-md-12 col-xs-12 text-right page-utils" style="display:none">
	<i class="text-muted">AutoUpdate em</i>
	<button type="submit" class="btn btn-primary" ng-click="Update(true)"><i class="fa fa-refresh"></i> <span localize>Refresh</span></button>	
</div>


<div ng-if="post.id" class="item col-md-12 col-xs-12 post-item post-page post-id-{{post.id}}" >

	<div class="panel panel-default timeline-block">

	    <div class="panel-heading" id="post-{{post.id}}">
	          <div class="media">
	            <div class="media-body">
	              	<span class="text-title"><i class="fa fa-fw fa-slack"></i> {{post.id}}</span>
	            </div>
	          </div>
	    </div>

		<div class="panel-body double-level-{{post.double_level}}">

			<!-- media box -->
			<div class="media-left" ng-if="post.files.length" ng-init="files = post.files" ng-include="base_url + '/app/views/post/media.html'"></div>
			

			<div class="media-body">
				<postcontent post="post"></postcontent>
			</div>   
		</div>


		<div class="view-all-comments">
	      <a ng-repeat="tag in post.tags" href="#" class="tag-type-{{tag.type}}"> <i class="fa fa-slack"></i> {{tag.name}} </a>
	      
	      <span class="report-button" ng-if="user.level == 0" ng-click="Report(post)"><i class="fa fa-exclamation-circle"></i></span>

	      <span class="report-button" ng-if="user.level > 0" ng-click="Ban(post)"><i class="fa fa-exclamation-circle"></i></span>
	    </div>

		<ul class="comments replies">
			<li ng-repeat="reply in post.replies" ng-class="{blink:reply.isNew}" class="comment-form reply double-level-{{reply.double_level}}" id="post-{{reply.id}}">

				<!-- media box -->
				<div class="media-left" ng-if="reply.files.length" ng-init="files = reply.files" ng-include="base_url + '/app/views/post/media.html'">
				</div>
					

				<div class="media-body">
					
					<div class="info">

						<div class="quotes" ng-if="reply.quotes">
							<span class="quote" ng-repeat="quote in reply.quotes track by $index" quotepreview quote="quote" search-post="SearchPost(id)"><i class="fa fa-reply"></i>{{quote}}</span>
						</div>

						<span ng-click="addReply(reply)" class="text-title"><i class="fa fa-fw fa-slack"></i> {{reply.id}}</span>

						<span class="report-button" ng-if="user.level == 0" ng-click="Report(reply)"><i class="fa fa-exclamation-circle"></i></span>

						<span class="report-button" ng-if="user.level > 0" ng-click="Ban(reply)"><i class="fa fa-exclamation-circle"></i></span>
						
					</div>


					<postcontent post="reply" on-back-quote="AddQuoteReply(from, to)" search-post="SearchPost(id)" quote-click="ScrollTo(id)"></postcontent>

				</div>   

				

			</li>

		</ul>

	</div>


</div>


<div class="post-page-footer-message">
	// <span localize>This page will update itself when there is a new reply</span>
</div>


<div ng-if="hasPost" ng-include="base_url + '/app/views/post/form.html'" ng-controller="PostFormController" onload="onLoadPostForm(setReply, addReply)"></div>