<!DOCTYPE html>

<html class="ls-top-navbar show-sidebar sidebar-l1 sidebar-r1" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Anonymous Social Network">
  <meta name="author" content="P.">
  <meta name="keywords" content="Anonymous,Social,Network,Forum">
  <title>77chan</title>


  <link href="css/vendor/all.css" rel="stylesheet">
  <link href="css/vendor/angular-carousel.css" rel="stylesheet">
  <link href="css/app/app.css" rel="stylesheet">
  <link href="css/chan.css?v=1.3.7" rel="stylesheet">
  <link rel="shortcut icon" href="icon.png" />

</head>

<body id="bbodyy" ng-app="chan" ng-controller="GlobalController">


  <div class="loading-box" ng-if="loading">
    <div class="cssload-loader-inner">
      <div class="cssload-cssload-loader-line-wrap-wrap">
        <div class="cssload-loader-line-wrap"></div>
      </div>
      <div class="cssload-cssload-loader-line-wrap-wrap">
        <div class="cssload-loader-line-wrap"></div>
      </div>
      <div class="cssload-cssload-loader-line-wrap-wrap">
        <div class="cssload-loader-line-wrap"></div>
      </div>
      <div class="cssload-cssload-loader-line-wrap-wrap">
        <div class="cssload-loader-line-wrap"></div>
      </div>
      <div class="cssload-cssload-loader-line-wrap-wrap">
        <div class="cssload-loader-line-wrap"></div>
      </div>
    </div>
  </div>
  


  <!-- MENU DE TOPO -->
  <div ng-controller="MenuControllerTop" ng-cloak class="navbar navbar-main navbar-primary navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" data-toggle="sidebar-menu" class="toggle pull-left visible-xs">
          <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" ng-href="#/"><i class="fa fa-fw fa-slack"></i>77Chan</a>

        
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="collapse">


        <ul class="nav navbar-nav">
          <li>

            <form class="navbar-form navbar-left" ng-controller="SearchFormController" ng-submit="Search()">
                    <div class="search-2">
                      <div class="input-group">
                        <input ng-model="search" type="text" class="form-control form-control-w-150" placeholder="Search ..">
                        <span class="input-group-btn">
                    <button class="btn btn-inverse" type="button" ng-click="Search()"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </div>
            </form>

          </li>
        </ul>


        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown notifications updates" ng-if="user.name">
                      <a href="#" class="dropdown-toggle" ng-click="Mark()" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span ng-if="messages.length && !seen" class="badge badge-primary">{{ (messages | filter:{seen:false}).length }}</span>
                      </a>
                      
                      <ul class="dropdown-menu" role="notification">
                        <li class="dropdown-header" localize>Notifications</li>

                        <li class="media" ng-repeat="message in messages">

                          <a href="{{message.link}}">
                            <div class="media-body">
                              {{message.message}}
                              <br>
                              <span class="text-caption text-muted"><i><timeago date="{{message.date_timestamp}}"></timeago></i></span>
                            </div>
                          </a>
                        </li>

                      </ul>
            </li>

            <li class="dropdown user" ng-if="user.name">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img ng-src="{{getUserPic(user.picture_link)}}" alt="" class="img-circle" style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"> {{user.first_name}}<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" ng-click="Logout()"><i class="fa fa-sign-out"></i><span localize>Logout</span></a></li>
              </ul>
            </li>
          </ul>

          
      </div>
    </div>
  </div>


  <!-- MENU LATERAL -->
  <div ng-controller="MenuControllerSide" class="sidebar left sidebar-size-1 sidebar-mini-reveal sidebar-offset-0 sidebar-skin-dark sidebar-visible-desktop sidebar-visible-mobile" id="sidebar-menu" data-type="collapse">
    <div data-scrollable>

      <ul class="sidebar-menu sm-icons-right">
        <li><a href="#/"><i class="fa fa-question"></i> <span localize>About</span></a></li>
        <li><a href="#/rules"><i class="fa fa-exclamation-triangle"></i> <span localize>Rules</span></a></li>
        <li ng-if="user.level > 0"><a href="#/reports"><i class="fa fa-ban"></i> <span localize>Reports</span></a></li>

        
        <li class="hasSubmenu open">
          <a href="#submenu" data-toggle="collapse" class="" aria-expanded="true"><i class="fa fa-list"></i><span localize>Boards</span></a>
          <ul id="submenu" class="collapse in" aria-expanded="true">
            <li ng-repeat="board in boards"><a href="#/board/{{board.shortcut_name}}"><i class="fa {{board.icon}}"></i><span>{{board.title}}</span></a></li>
          </ul>
        </li>

      </ul>


      <h4 class="category border top" ng-if="user.name" localize>Last Messages</h4>
      <div class="sidebar-block" ng-if="user.name">
        <ul class="sidebar-feed">
          
          <li class="media" ng-repeat="message in lastMessages">
            <div class="media-left">
              <span class="media-object">
                          <i class="fa fa-fw fa-bell"></i>
                      </span>
            </div>

            <a href="{{message.link}}">
              <div class="media-body">
                {{message.message}}
                <span class="text-caption time text-muted"><i><timeago date="{{message.date_timestamp}}"></timeago></i></span>
              </div>
            </a>
          </li>



        </ul>
      </div>


      <h4 class="category border top"></h4>
      <div class="sidebar-block">
        <button ng-click="OpenLink('https://www.facebook.com/cenouro', true)" class="btn btn-block btn-default btn-facebook btn-icon-stacked"><i class="fa fa-2x fa-facebook"></i> <span><span localize>Find us on</span><br>Facebook</span></button>
        <button ng-click="OpenLink('https://www.google.com/+77chanc', true)" class="btn btn-block btn-default btn-google btn-icon-stacked"><i class="fa fa-2x fa-google"></i> <span><span localize>Find us on</span><br>Google+</span></button>
      </div>






    </div>
  </div>

  <div id="content">
    <div class="container-fluid">
		  <div ui-view></div>
    </div>
  </div>

  <!-- Inline Script for colors and config objects; used by various external scripts; -->
  <script>
    var colors = {
      "danger-color": "#e74c3c",
      "success-color": "#81b53e",
      "warning-color": "#f0ad4e",
      "inverse-color": "#2c3e50",
      "info-color": "#2d7cb5",
      "default-color": "#6e7882",
      "default-light-color": "#cfd9db",
      "purple-color": "#9D8AC7",
      "mustard-color": "#d4d171",
      "lightred-color": "#e15258",
      "body-bg": "#f6f6f6"
    };
    var config = {
      theme: "layout",
      skins: {
        "default": {
          "primary-color": "#16ae9f"
        }
      }
    };
  </script>

  <script src="js/vendor/all.js"></script>
  <script src="js/app/app.js?v=1.0.1"></script>







  <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->


  <!-- Bibliotecas -->
  <script type="text/javascript" src="lib/vendor/angular/angular.js"></script>
  <script type="text/javascript" src="lib/vendor/angular/angular-resource.js"></script>


  <!-- Languages Pack | Follow: http://msdn.microsoft.com/en-us/library/ee825488(v=cs.20).aspx -->
  <script type="text/javascript" src="js/languages/pt-BR.js"></script>

  <script type="text/javascript" src="lib/angular-cache/dist/angular-cache.js"></script>
  <script type="text/javascript" src="lib/vendor/angular-audio/angular.audio.js"></script>
  
  
  <script type="text/javascript" src="lib/vendor/angular/angular-touch.js"></script>


  <!-- paradinha de gravar mic -->
  <script src="lib/angular-recorder/html5-recorder.js"></script>
  <script src="lib/angular-recorder/flash-recorder.js"></script>
  <script src="lib/angular-recorder/audio-recorder.js"></script>
  
  <script type="text/javascript" src="lib/vendor/angular/angular-ui-router.js"></script>
  <script type="text/javascript" src="lib/vendor/angular/angular-sanitize.js"></script>
  <script type="text/javascript" src="lib/angular-localize/angular-localize.min.js"></script>

  <script type="text/javascript" src="lib/vendor/angular/google-plus-signin.js"></script>
  <script src="lib/vendor/angular/angular-animate.min.js" data-semver="1.4.2"></script>
  
  <script src="lib/vendor/angular/angular-strap.min.js"></script>
  <script src="lib/vendor/angular/angular-strap.tpl.min.js"></script>

  <script type="text/javascript" src="lib/vendor/angular/angular-ui-bootstrap.js"></script>
  <script type="text/javascript" src="lib/bower_components/angular-facebook/lib/angular-facebook.js"></script>
  
  
  <script type="text/javascript">
    var base_url = document.location.href.match(/(^[^#]*)/)[0];
  </script>

  <!-- Aplicação -->
  <script type="text/javascript" src="app/config.js?v=1.0"></script>
  <script type="text/javascript" src="app/app.js?v=1.0"></script>
  <script type="text/javascript" src="app/routes.js?v=1.0"></script>
  <script type="text/javascript" src="app/helpers.js?v=1.0"></script>
  <script type="text/javascript" src="app/diretives.js?v=1.1"></script>
  <script type="text/javascript" src="app/filters.js?v=1.0"></script>
  <script type="text/javascript" src="app/services.js?v=1.0"></script>


  <!-- Controles -->
  <script src="app/controllers/global.js?v=1.1"></script>
  <script src="app/controllers/post.js?v=1.0.1"></script>
  <script src="app/controllers/board.js?v=1.0"></script>
  <script src="app/controllers/home.js"></script>
  <script src="app/controllers/menu.js"></script>
  <script src="app/controllers/postForm.js"></script>
  <script src="app/controllers/report.js"></script>
  <script src="app/controllers/ban.js"></script>
  <script src="app/controllers/search.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-67061408-1', 'auto');
    // ga('send', 'pageview');

  </script>

</body>

</html>