<div class="text-center">
  <h1>77chan</h1>

  <p class="lead text-muted">Do not meet new people!</p>
  <br>
</div>

<div class="row">
        
      <div class="item col-lg-12 col-md-12 col-xs-12">
      <div class="panel panel-default">

      	<div class="panel-heading panel-title">What is 77chan?</div>

        <div class="panel-body">
        	

			<p>77chan is an imageboard focused on anonymity. That is, a place where you can post any fucking shit you want **anonymously**.
			</p>

			<p>
			Despite a quick registration using a Google+/Facebook account, no personal data will be sync with the post.
			</p>

			<p>
			With a friendly and objective interface. Just 3 clicks are necessary to start posting!. Simple like that. Without any bullshit.
			</p>

			<p>
			That's it! Feel free to keep shitting around and don't forget to read the rules!
			</p>

			<p>
			<i class="text-muted">We are in BETA. Not all features are still available, be patient. Problems, bugs or suggestions, please, email us! p321654987@outlook.com</i>
			</p>

			<p>I love you. (L)</p>
        </div>

        <div class="panel-footer">
        	*/**.: Read the <a href="#/rules">rules</a>
      	</div>
      	  
      </div>
    </div>

</div>
