<div class="text-center">
  <h1>77chan</h1>

  <p class="lead text-muted">Não conheça novas pessoas.</p>
  <br>
</div>

<div class="row">
        
      <div class="item col-lg-12 col-md-12 col-xs-12">
      <div class="panel panel-default">

      	<div class="panel-heading panel-title">O que é o 77chan?</div>

        <div class="panel-body">
        	

			<p>O 77chan é um imageboard com foco no anonimato. Ou seja, um lugar onde você pode postar a merda que quiser* de forma anônima**. Um fórum que permite você e outro usuários criem tópicos e respondam outros. Ao contrário de outros fóruns, imageboards não guardam o conteúdo permanentemente. 24 horas depois da última atualização do post, ele é apagado, incluindo seus anexos.
			</p>

			<p>
			O formato do 77chan possui vantagens significativas em relação a fóruns e outros imageboards mais tradicionais.
			</p>

			<p>
			Apesar do rápido cadastro utilizando sua conta do Google+, seus dados pessoais não são ligados diretamente ao seus posts/respostas e não estão disponíveis publicamente. Apenas os administradores do site têm acesso a suas informações.
			</p>

			<p>
			Seus posts não têm nomes nem fotos de seus criadores. Os posts são julgados de acordo com seu conteúdo e não com a "reputação" de quem o fez, criando assim uma forma mais justa, já que todos os usuários sempre vão sair do mesmo ponto de partida e seus posts vão ser visualizados de forma igualitária.
			</p>

			<p>
			Interface amigável e objetiva. Com apenas 3 cliques para seu pseudo-cadastro inicial, você já pode sair postando. Simples assim, sem burocracia.
			</p>

			<p>
			É isso! Fique à vontade para sair bostejando por aí e não se esqueça de ler as regras!
			</p>

			<p>
			<i class="text-muted">Estamos na versão <b>BETA</b>. Nem todas as features estão disponíveis ainda, tenha paciência. Problemas, bugs e/ou sugestões, por favor enviá-las para o e-mail p321654987@outlook.com ou para a página de desenvolvimento no facebook <a href="https://www.facebook.com/cenouro">https://www.facebook.com/cenouro</a> </i>
			
			</p>
        </div>

        <div class="panel-footer">
        	*/**.: Leia as <a href="#/rules">regras</a>
      	</div>
      	  
      </div>
    </div>

</div>