<div class="text-center">
  <h1>77chan</h1>

  <p class="lead text-muted">Não conheça novas pessoas.</p>
  <br>
</div>

<div class="row">
        
      <div class="item col-lg-12 col-md-12 col-xs-12">
      <div class="panel panel-default">

      	<div class="panel-heading panel-title">O que é o 77chan?</div>

        <div class="panel-body">
        	

			<p>O 77chan é um imageboard com foco no anonimato. Ou seja, um lugar onde você pode postar a merda que quiser* de forma anônima**. Um fórum que permite você e outro usuários criem tópicos e respondam outros. Ao contrário de outros fóruns/redessociais, imageboards não guardam o conteúdo permanentemente. 24 horas depois da última atualização do post, ele é apagado, incluindo seus anexos.
			</p>

			<p>
			O formato do 77chan possui vantagens significativas em relação a fóruns e outros imageboards mais tradicionais.
			</p>

			<p>
			Apesar do rápido cadastro utilizando sua conta do Google+, seus dados pessoais não são ligados diretamente ao seus posts/respostas e não estão disponíveis publicamente. Apenas os administradores do site têm acesso a suas informações, e assim que sua ex reclamar que você está postando nudes dela, vou enviar suas informações com a mesma velocidade. Fica esperto, rapaz!
			</p>

			<p>
			Seus posts não têm nomes nem fotos de seus criadores. Os posts são julgados de acordo com seu conteúdo e não com a "reputação" de quem o fez, criando assim uma forma mais justa, já que todos os usuários sempre vão sair do mesmo ponto de partida e seus posts vão ser visualizados de forma igualitária.
			</p>

			<p>
				Aqui não existe "aquele famosinho que todo mundo gosta. Você é só o post que cria, se gosta de criar perfis pra ganhar likes/retweets vá para o Facebook/Twitter, aqui não é seu lugar!
			</p>

			<p>
			Interface amigável e objetiva. Com apenas 3 cliques para seu pseudo-cadastro inicial, você já pode sair postando. Simples assim, sem burocracia.
			</p>

			<p>
			É isso! Fique à vontade para sair bostejando por aí e não se esqueça de ler as regras!
			</p>

			<p>
			<i class="text-muted">Estamos na versão <b>BETA</b>. Nem todas as features estão disponíveis ainda, tenha paciência. Problemas, bugs e/ou sugestões, por favor enviá-las para o e-mail p321654987@outlook.com ou para a página de desenvolvimento no facebook <a href="https://www.facebook.com/cenouro">https://www.facebook.com/cenouro</a> </i>
			</p>

			<p>Eu te amo.</p>
        </div>

        <div class="panel-footer">
        	*/**.: Leia as <a href="#/rules">regras</a>
      	</div>

      	<a class="btn btn-inverse" href="#/board/all" style="display: block; width: 100%;"> <i class="fa fa-arrow-up"></i> Clique aqui e comece</a>
      	  
      </div>
    </div>

</div>



<div class="row how-use">
        
      <div class="item col-lg-12 col-md-12 col-xs-12">
      <div class="panel panel-default">

      	<div class="panel-heading panel-title">Como funciona?</div>

        <div class="panel-body row">

			<p>O site pode ser dividido em boards. Boards são um grupo de #tags. Quando você clica em uma board chamada Desenhos que contem, por exemplo as tags #anime e #jp, seria equivalente a você procurar por "anime, jp" no campo de busca. Você pode pensar em boards como facilitadores na sua navegação.
			</p>

			<p>
			No 77 existem boards fixas, pré-criadas onde de maneira geral se concentram a maior quantidade de posts relacionados a ela. 
			</p>

			<p>
			Quando você selecionar uma board e cria um post dentro dela, automaticamente é add todas as tags daquela board ao seu post, em adição a qualquer outra tag que você tenha quotado. Por exemplo se eu criar um post dentro da nossa board de exemplo(Desenhos), e quotar a tag #dbz, esse post vai conter as tags #dbz, #anime, #jp. Quando alguém procurar uma dessas tags, seu post será listado.
			</p>

			<p>
			Um post não está necessariamente ligado a uma board. Seu post pode fazer parte de 0(zero) a N boards. Se eu criar um post com a tag #cdz e #nostalgia, seu post vai ser listando tanto nas board que tiverem a tag #cdz quanto nas boards que tiverem a tag #nostalgia.
			</p>

			<div class="tuto-image col-md-2">
				<img src="{{base_url}}/images/tutorial/1.png">
				<p>As boards fixas podem ser encontradas no menu ao lado esquerdo do site.</p>
			</div>

			<div class="tuto-image col-md-12 row">
				<img class="col-md-6" src="{{base_url}}/images/tutorial/2.png">
				<img class="col-md-6" src="{{base_url}}/images/tutorial/3.png">
				<p>Para criar um post é simples. Selecione uma board na qual deseja criar o post, cliquem em [fazer login com google/facebook] e o formulário do post, assim como as notificações e respostas rápidas irão aparecer.</p>
			</div>

			<p>
			Quando seu post for respondido, você receberá uma notificação avisando. Se clicar na notificação você será redirecionado a resposta. 
			</p>

			<p>
			Você pode quotar(citar) outros posts. Para isso, clique no numero identificador do post ou resposta, que irá aparecer #[identificador_do_post]  no seu campo de resposta rápida caso você esteja na pagina da board ou no formulário de resposta se estiver na pagina do post.
			</p>

			<div class="tuto-image">
				<img src="{{base_url}}/images/tutorial/4.png">
				<p>Clique para quotar a resposta. O usuario irá receber uma notifiação quando for citado.</p>
			</div>

			<p>
			Na página da board você visualiza o post, de acordo com as tags da board, junto com suas 5 ultimas respostas. Também irá aparecer um campo de resposta rápida, que nada mais é que um campo curto e objetivo para respostas mais simples. Caso queira visualizar TODAS as respostas do post, clique no identificador dele ou no icone de resposta.
			</p>

			<div class="tuto-image col-md-1">
				<img src="{{base_url}}/images/tutorial/5.png">
				<p>Clique aqui para ir para a pagina do post.</p>
			</div>

			<div class="clear:both"></div>

			<p>
			Na página do post, existem algumas outras funcionalidades. Uma delas é conseguir visualizar de maneira rápida as respostas e citações dos posts., para isso passa o mouse nas marcações dos quotes.
			</p>

			<div class="tuto-image col-md-4 row">
				<img class="col-md-6" src="{{base_url}}/images/tutorial/6.png">
				<p>Quote preview</p>
			</div>

			<p>
			Anexo ao post ou resposta você pode enviar até 10 imagens/videos, incluindo jpg, png, gifs, mp4 e webm de até 5 megas.
			</p>


			<p>
				Se ver algum post que não estiver de acordo com as regras, você pode denunciar clicando no icone "exclamação" do lado direito do mesmo. Seja conciso no motivo da denuncia. 
			</p>

			<div class="tuto-image">
				<img src="{{base_url}}/images/tutorial/8.png">
				<p>Reportando conteudo ilegal.</p>
			</div>

			<p>
			Posts que não foram respondidos ou atualizados em 24 horas, são removidos. Incluindo seus anexos. Quando você responde seu proprio post não conta como atualização.
			</p>

			<p>
			Quando você está na pagina do post, ela se atualiza automaticamente, por isso não existe botão "Recarregar".
			</p>

			<p>
			Para sugestões, criticas ou bugs. Poste usando a tag #mod, ou poste na board moderação.
			</p>


        </div>


        <a class="btn btn-inverse" href="#/board/all" style="display: block; width: 100%;"> <i class="fa fa-arrow-up"></i> Clique aqui e comece</a>

      	  
      </div>
    </div>

</div>
