<div class="panel-body main-post-box" ng-if="user.name">
    <div class="row text-right">

      <div class="col-md-12 text-left">
        <div class="form-group form-control-default">
          <label for="exampleInputFirstName">Mensagem</label>
          <textarea ng-model="postForm.content" class="form-control" rows="5"></textarea>
        </div>
      </div>

      <div class="col-md-12">

        <div class="col-md-6 text-left">
          <div ng-repeat="filedata in filesPreview" ng-click="RemoveFile($index)"  class="link form-file-preview">
            <img ng-if="!isVideo(filedata)" src="{{filedata}}">  
            <img ng-if="isVideo(filedata)" src="{{base_url}}/images/videopreview.png">
            
          </div>
          
        </div>

        <div class="col-md-6 text-right">
          <button class="btn btn-default" ng-click="ImageSelect('.main-post-box .image-input')"><i class="fa fa-picture-o"></i> Adicionar Imagem {{ (files.length ? '('+files.length+')' : '') }} </button> 
          <button type="submit" class="btn btn-primary" ng-click="Send()"><i class="fa fa-check"></i> Submeter</button>
        </div>


        


      </div>


      <input style="display:none" id="file-select-input" class="image-input" type="file" file-upload multiple/>

    </div>
</div>

<div class="panel-body text-center" ng-if="!user.name">
  <button ng-if="!signedIn && facebookReady" class="btn btn-default btn-facebook btn-facebook-main-login" ng-click="FacebookLogin()"><i class="fa fa-facebook"></i> Fazer login com o Facebook</button>
  
	<google-plus-signin ng-if="!signedIn" language="pt-BR" clientid="{{parameters.google_api_key}}"></google-plus-signin>

  <div class="text-muted">Para postar e outras funções, faça seu login.</div>
</div>