<div class="row">
        
      <div class="item col-lg-12 col-md-12 col-xs-12">
      <div class="panel panel-default">

      	<div class="panel-heading panel-title">Rules</div>
        
        <div class="panel-body">

          <p><i class="fa fa-fw fa-angle-right"></i>Will be BANNED any form of identification, breaking your own anonymity or the others.</p>
          <hr />

          <p><i class="fa fa-fw fa-angle-right"></i>Any illegal content will be BANNED. Don't think because you are posting anonymously we don't know who you are.</p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>Illegal content will be sent to the Virtual Crimes Delegacy with your Identification and Personal Data. Believe, we have a especific button to this!</p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>Any kind of Children Sexualization will be BANNED. Even if it is "Non-Nude".</p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>The 77 Chan don't support virtual attacks of any kind. Do not use it to organize things like that.</p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>Erroneously Reports will result in BANISHMENT.</p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>Spam and floods of any kind are forbidden. This includes irregular advertisements, links, "offers", requests, etc...</p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>Will be BANNED any kind of post containing pictures or videos with nudity (allowed if it contains a #nsfw tag), explicit injuries, self-inflicted injury, dismemberment, torture or animal cruelty.</p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>Do not use Avatars or any kind of "sign" in your messages.</p>

          </div>

      </div>
    </div>

</div>