<div class="row">
        
      <div class="item col-lg-12 col-md-12 col-xs-12">
      <div class="panel panel-default">

      	<div class="panel-heading panel-title">Rules</div>
        
        <div class="panel-body">

          <p><i class="fa fa-fw fa-angle-right"></i> It is prohibited any form of identification, breaking anonymity own or others.</p>
          <hr />

          <p><i class="fa fa-fw fa-angle-right"></i> Any illegal content will be subject to sanctions. Do not think that because they are posting anonymously do not know who you are. </p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>Illegal contents will be sent to the police mail. We have a specific button for it, believe me!</p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>CP and things like it, even non-nude.</p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>77chan does not support cyber attacks of any kind. Do not use it to organize things like that.</p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>Export falsely posts will result in banishment.</p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>Spams e floods. This includes irregular advertisements, links, "offers", social media requests, etc...</p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>Content, image or video that contains nudity (allowed if contain #nsfw tag), explicit injuries, self-inflicted injury, dismemberment, torture or animals cruelty</p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>Do not use avatars or any signature on your posts.</p>

          </div>

      </div>
    </div>

</div>