<div class="row">
        
      <div class="item col-lg-12 col-md-12 col-xs-12">
      <div class="panel panel-default">

      	<div class="panel-heading panel-title">Regras</div>
        
        <div class="panel-body">

          <p><i class="fa fa-fw fa-angle-right"></i> Está proibida qualquer forma de identificação, quebrar próprio anonimato ou de outros.</p>
          <hr />

          <p><i class="fa fa-fw fa-angle-right"></i> Qualquer conteudo ilegal estará sujeito a punições. Não pense que porque está postando anonimamente não sabemos quem é você. </p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>Conteudos de natureza ilegal serão enviados a delegacia de crimes virtuais juntamente com sua identificação. Temos um botão especifico pra isso, acredite!</p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>Sexualização de menores, mesmo que non-nude.</p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>O 77chan não apoia ataques virtuais de qualquer natureza. Não use ele para organizar coisas desse tipo.</p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>Reportar posts erroneamente acarretará em banimento.</p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>Spams e floods de qualquer tipo estão proibidos. Isso inclui propagandas irregulares, links, "ofertas", solicitações, etc...</p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>Postar conteudo, imagem ou video que contenha nudez(permitido se conter a tag #nude), lesões explícitas, danos auto-infligidos, desmembramentos, tortura ou crueldade animais</p>
          <hr />

          <p> <i class="fa fa-fw fa-angle-right"></i>Não use avatares ou qualquer tipo de assinatura nos seus posts.</p>

          </div>

      </div>
    </div>

</div>